# https://ssl-config.mozilla.org/#server=nginx&version=1.17.7&config=modern&openssl=1.1.1d&guideline=5.6
server {
    server_name {{ new_vhost.domain }};
    listen 0.0.0.0:80 http2;
    listen [{{ new_vhost.ipv6_addr }}]:80 http2;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ new_vhost.domain }};
    listen 0.0.0.0:443 ssl http2;
    listen [{{ new_vhost.ipv6_addr }}]:443 ssl http2;

    ssl_certificate /root/.acme.sh/{{ new_vhost.domain }}_ecc/fullchain.cer;
    ssl_certificate_key /root/.acme.sh/{{ new_vhost.domain }}_ecc/{{ new_vhost.domain }}.key;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # modern configuration
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

{% if 'acls' in new_vhost %}
{% for acl in acls %}
{% if 'action' in acl and 'value' in acl %}
    {{ acl.action }} {{ acl.value }};
{% endif %}
{% endfor %}
{% endif %}

{% if 'auth_basic' in new_vhost %}
    auth_basic "{{ new_vhost.auth_basic.title }}";
    auth_basic_user_file /etc/nginx/.htpasswd/{{ new_vhost.domain }};
{% endif %}

    location / {
        proxy_pass {{ new_vhost.proxy_pass }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header X-Real-IP $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;

{% if 'client_max_body_size' in new_vhost %}
        client_max_body_size {{ new_vhost.client_max_body_size }};
{% endif %}
    }
{% if 'additional_locations' in new_vhost %}
{% for location in new_vhost.additional_locations %}

    location {{ location.path }} {
{% for line in location.raw_lines %}
        {{ line }}
{% endfor %}
    }
{% endfor %}
{% endif %}
}
